<div class="container">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{submission.survey.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <!--Submission answers-->
      <div *ngFor="let ans of submission.answers">
        <submission-answer [answeredQuestion]="ans"></submission-answer>
      </div>

      <hr>

      <div *ngIf="submission.user">
        <div>
          <b>User Details:</b>
        </div>
        <span>
          Gender: {{submission.user.gender | titlecase}}
          <br>
          Age: {{submission.user.dateOfBirth | age}}
        </span>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="modal.close()">OK</button>
    </div>
  </ng-template>

  <button class="btn btn-outline-success" (click)="open(content)">{{buttonText}}</button>
</div>
