<div class="d-flex justify-content-center container pad-top">

  <div *ngIf="survey">
    <h3>{{survey.title}}</h3>
    <p>
      {{survey.description}}
    </p>
    <div *ngIf="form" class="container">
      <form (ngSubmit)="submitForm()" [formGroup]="form">

        <div *ngFor="let question of survey.questions" class="form-row">
          <survey-question [question]="question" [form]="form"></survey-question>
        </div>

        <div class="form-row pad-top">
          <button class="btn btn-success" type="submit" [disabled]="!form.valid">Submit</button>
        </div>
      </form>

      <div *ngIf="formValue" class="form-row">
        <strong>Saved the following values</strong><br>{{formValue}}
      </div>
    </div>
    <div *ngIf="!survey.questions">
      <p>
        There are no questions for this survey... 😔
      </p>
    </div>
  </div>

  <div *ngIf="!survey">
    <p>
      No such survey
    </p>
  </div>

</div>
