<div class="d-flex justify-content-center container pad-top">

  <div *ngIf="survey" class="col-md-6 shadow p-4">
    <h3>{{survey.title}}</h3>
    <p>
      {{survey.description}}
    </p>
    <div *ngIf="form">
      <form (ngSubmit)="submitForm()" [formGroup]="form">

        <div *ngFor="let question of survey.questions">
          <survey-question [question]="question" [form]="form"></survey-question>
        </div>

        <div class="form-group pad-top">
          <button class="btn btn-success" type="submit" [disabled]="!form.valid">
            <fa-icon [icon]="submitIcon"></fa-icon>
            Submit
          </button>
        </div>
      </form>

    </div>
    <div *ngIf="!survey.questions">
      <p>
        There are no questions for this survey... 😔
      </p>
    </div>
  </div>

  <div *ngIf="!survey">
    <p>
      No such survey
    </p>
  </div>

</div>
