<div [formGroup]="form" class="form-group">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <div *ngSwitchCase="'textbox'">
      <input class="form-control" [formControlName]="question.key"
             [id]="question.key" [attr.type]="question.controlType" placeholder="Type answer"
             [attr.autocomplete]="'off'">
    </div>

    <div *ngSwitchCase="'textarea'">
      <textarea class="form-control" [formControlName]="question.key"
             [id]="question.key" [attr.type]="question.controlType" placeholder="Type answer"
             [attr.autocomplete]="'off'">
      </textarea>
    </div>

    <div *ngSwitchCase="'radio'">
      <div class="form-check form-check-inline" *ngFor="let opt of question['options']">
        <label class="form-check-label">
          <input class="form-check-input" [formControlName]="question.key" [attr.name]="question.key"
                 [attr.type]="question.controlType" [attr.value]="opt.value">
          {{opt.value}}
        </label>
      </div>
    </div>

    <div *ngSwitchCase="'dropdown'">
      <select #select class="form-control" [id]="question.key"
              [formControlName]="question.key">
        <option *ngIf="!select.value" value="" disabled selected>Select option</option>
        <option *ngFor="let opt of question['options']" [value]="opt.value">{{opt.value}}</option>
      </select>
    </div>

  </div>

  <div class="text-danger" [class.hidden]="!control.errors?.required || !control.touched">
    This field is required.
  </div>
</div>
