<div class="container">
  <h2>Enter user details:</h2>
  <form [formGroup]="form" (ngSubmit)="saveProfile()">
    <div class="form-row">
      <label>
        First name:
        <input class="form-control" type="text" formControlName="firstName" placeholder="first name...">
      </label>
    </div>

    <div class="form-row">
      <label>
        Last name:
        <input class="form-control" type="text" formControlName="lastName" placeholder="last name...">
      </label>
    </div>

    <div class="form-row">
      <label>
        Date of birth:
        <input class="form-control" type="date" formControlName="dateOfBirth">
      </label>
    </div>
    <div class="text-danger" [class.hidden]="!dateOfBirth.errors || !dateOfBirth.touched">
      <div *ngIf="dateOfBirth.errors?.required">
        Date of birth is required
      </div>
      <div *ngIf="dateOfBirth.errors?.date">
        Invalid - future date
      </div>
    </div>
    <div class="form-row">
      <label>
        Gender:
        <select #select class="form-control" name="gender" id="gender-select" formControlName="gender">
          <option *ngIf="!select.value" value="" disabled selected>Select gender</option>
          <option *ngFor="let g of genderList" [value]="g">{{g}}</option>
        </select>
      </label>
    </div>
    <div class="text-danger" [class.hidden]="!gender.errors?.required || !gender.touched">
      Gender is required
    </div>

    <div class="form-row pad-top">
      <button class="btn btn-success" type="submit" [disabled]="!form.valid">
        Update
      </button>
    </div>

  </form>
</div>
