<div *ngFor="let s of surveyChartData; let i=index">
  <div class="container p-4">
    <div class="row">
      <h4>{{s.question.label}}</h4>
    </div>
    <div class="row">
      <div
        *ngIf="s.question.controlType == 'textbox'
        || s.question.controlType == 'date'
        || s.question.controlType == 'range'"
      >
        <hippo-bar-chart [data]="s.data"></hippo-bar-chart>
      </div>
      <div *ngIf="s.question.controlType == 'textarea'">
        <answer-list [data]="s.data"></answer-list>
      </div>
      <div
        *ngIf="s.question.controlType == 'dropdown'
        || s.question.controlType == 'radio'
        ||s.question.controlType == 'yesno'"
      >
        <hippo-pie-chart [data]="s.data"></hippo-pie-chart>
      </div>
    </div>
  </div>
</div>
