<div class="container">

  <div *ngFor="let sub of submissions" class="card custom-width">
    <div class="card-body">
      <h5 *ngIf="sub.survey.title" class="card-title">{{sub.survey.title}}</h5>
      <h5 *ngIf="!sub.survey.title" class="card-title"><i>Untitled</i></h5>

      <p *ngIf="sub.survey.description" class="card-text">
        {{sub.survey.description}}
      </p>
      <p *ngIf="!sub.survey.description" class="card-text">
        <i>no description</i>
      </p>

    </div>

    <submission-modal
      [submission]="sub"
      [buttonText]="buttonText">
    </submission-modal>

  </div>

</div>
