<div class="container">

  <div class="d-flex flex-wrap">
    <div *ngFor="let sub of submissions" class="card custom-width m-2 shadow">
      <div class="card-body">
        <h5 *ngIf="sub.survey.title" class="card-title">{{sub.survey.title}}</h5>

        <p *ngIf="sub.timestamp" class="card-text">
          <hippo-user-icon [user]="sub.user"></hippo-user-icon>
          <br>
          Submitted on: {{sub.timestamp | date:'short'}}
        </p>

      </div>

      <submission-modal
        class="mb-4"
        [submission]="sub"
        [buttonText]="buttonText">
      </submission-modal>

    </div>
  </div>


</div>
