<div [formGroup]="questionForm">
  <div class="form-row">
    <input class="form-control" type="text" formControlName="label" placeholder="Label">
  </div>

  <div formArrayName="options">
    <div *ngFor="let o of options.controls; let i=index">
      <div [formGroupName]="i">
        <label>
          Option:
          <input class="form-control" type="text" formControlName="value">
        </label>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-block btn-link" type="button" (click)="addOption()">Add option</button>
  </div>
</div>
