<div [formGroup]="questionForm">
  <div class="form-row">
    <div>
      <label>
        Label:
        <input class="form-control" type="text" formControlName="label">
      </label>
    </div>
    <div>
      <button class="m-4 btn btn-danger" type="button" (click)="remove()">&times;</button>
    </div>
  </div>

  <div formArrayName="options">
    <div *ngFor="let o of options.controls; let i=index">
      <div [formGroupName]="i">
        <label>
          Option:
          <input class="form-control" type="text" formControlName="value">
        </label>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-block btn-link" type="button" (click)="addOption()">Add option</button>
  </div>
</div>
