/* You can add global styles to this file, and also import other style files */
.pad-top {
  padding-top: 1em;
}

.margin-top {
  margin-top: 1em;
}

.pink {
  color: #ffd953;
}

.purple {
  color: #59ff6b;
}

.bold {
  font-weight: bold;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
