/* You can add global styles to this file, and also import other style files */
.pad-top {
  padding-top: 1em;
}

.margin-top {
  margin-top: 1em;
}

.pink {
  color: deeppink;
}

.bg-pink {
  background-color: deeppink;
}

.green {
  color: #1be130;
}

.bg-green {
  background-color: #1be130;
}

.bold {
  font-weight: bold;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.hidden {
  visibility: hidden;
}

.custom-modal .modal-dialog {
  max-width: 300px;
}
