<div class="card custom-width">
  <div class="card-body">
    <h5 *ngIf="survey.title" class="card-title">{{survey.title}}</h5>
    <h5 *ngIf="!survey.title" class="card-title"><i>Untitled</i></h5>

    <p *ngIf="survey.description" class="card-text">
      {{survey.description}}
    </p>
    <p *ngIf="!survey.description" class="card-text">
      <i>no description</i>
    </p>

    <button [disabled]="disableBtn" class="btn btn-primary" (click)="openThumbnail()">{{buttonText}}</button>
  </div>
</div>
